@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.otf') format('otf'),
         url('../fonts/SourceSansPro-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Spin Cycle OT';
    src: url('../spincycle_ot-webfont.woff') format('woff'),
         url('../spincycle_ot-webfont.woff') format('woff');
    
  }
  @font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  html, body {
	height: 100%;
	min-height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    
     
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
#firstPage{
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat; 
     background-position: center top;
     background-size: cover;
     /* height: 1000vw; */
}

/* .holberton-school-icon-menu {
  font-family: "holberton_school-icon"; 
  content: '\e911';
  color: white;
} */
nav {
     display: flex; 
     align-items: center; 
     justify-content: space-between; 
     padding: 30px 30px 30px 30px;
   }
   
   nav img {
     height: auto; 
     width: auto; 
     
   }

   nav ul {
     margin: 0; 
     padding: 0; 
     list-style: none; 
   }
   
   nav li {
     display: inline-block; 
     margin-right: 20px; 
   }
   
   nav a {
     text-decoration: none; 
     color: white; 
     font-weight: bold; 
     font-family: 'Spin Cycle OT', sans-serif;
     font-size: 1em;
   }
   nav a:hover {
     color: #FF6565; 
     opacity: 0.9
   }
   nav a:active {
    color: #FF6565; 
    opacity: 0.9
  }


  @media (min-width: 768px) { /* For screens wider than 768px */
    nav span {
      display: none;
    }
  }

  @media (max-width: 768px) { /* For screens wider than 768px */
    nav ul {
      display: none;
      
    }
    nav{
      align-items: center; 
      justify-content: start; 
    }
    nav img {
     padding-left: 12vw;
      
    }
    
  }
  
  @media (max-width: 480px) { /* For screens narrower than 480px */
    nav  ul{
      display: none;
    }
   
  }
  
main {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center; 
  text-align: center;
  padding-inline: 10vw;
  padding-block-start: 150px;
  padding-block-end: 100px;
 
  
}
main section h4{
  font-size: 16px;
  font-family:   'Source Sans Pro', sans-serif;
  font-weight: 600;
}
main section h2{
  font-size: 32px;
  font-family:   'Source Sans Pro', sans-serif;
  font-weight: bold;
}
main section p{
  font-size: 16px;
  line-height: 1.5;
  font-family:   'Source Sans Pro', sans-serif;
  font-weight: 400;
  
}
main section button {
  background-color: #FF6565; 
  border: none; 
  padding: 10px 20px; 
  margin: 40px;

  border-radius: 15px; 
  color: white; 
  cursor: pointer; 
  font-weight: bold; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


#midSection {
    text-align: center;
    padding: 100px;
}
#midSection h2{
    font-size: 32px;
    font-family:   'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
  #midSection h4{
    font-size: 16px;
    font-family:   'Source Sans Pro', sans-serif;
    font-weight: 600;
  }
  #midSection p{
 
  font-family:   'Source Sans Pro', sans-serif;
  }
  #whatWedoList{
    /* padding: 30px; */
    
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 0 auto;
    align-items: center;
  }
  
  .whatWeDoCard span{
    color:#FF6565;font-size: 100px;

  }
  /* Media query for mobile screens (adjust breakpoint as needed) */
@media only screen and  (max-width:  720px) {
    .whatWeDoCard {
        width: 100%; 
        margin: 5px; 
      }
    #whatWedoList{
        flex-direction: column;
    }
   
  }

  @media only screen and  (min-width: 728px) and (max-width: 1020px){
   
    .whatWeDoCard {
      width:  calc(50% - 20px); 
      margin: 5px; 
    }
  }
  @media only screen and (min-width:  1024px) {
   
    .whatWeDoCard {
      width: calc(25% - 20px); 
      margin: 5px; 
    }
  }
  #thirdSection{
    background-image: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat; 
     background-position: center top;
     background-size: cover;
     text-align: center;
    padding: 100px;
    color:white;
  
     /* height: 1000vw; */
}
.PentagonCard{
    background-image: url(images/pentagone.png);
    background-repeat: no-repeat; 
     background-position: center top;
      background-size: 200px 150px;;
     text-align: center;
     width: 200px;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
#thirdSection h2{
  font-size: 32px;
  font-family:   'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding-top: 50px;

}
.PentagonCard h1{
  font-size: 48px;
  font-family:   'Source Sans Pro', sans-serif;
  font-weight: bold;
  
}
#thirdSection p{
padding: 20px;
font-family:   'Source Sans Pro', sans-serif;
}


@media only screen and  (max-width:  720px) {
  .PentagonCard {
      width: 100%; 
      margin: 5px; 
    }
  #whatWedoList{
      flex-direction: column;
  }
 
}

@media only screen and  (min-width: 728px) and (max-width: 1020px){
 
  .PentagonCard {
    width:  calc(50% - 20px); 
    margin: 5px; 
  }
}
@media only screen and (min-width:  1024px) {
 
  .PentagonCard {
    width: calc(25% - 20px); 
    margin: 5px; 
  }
}

.container {
  width: 400px; 
  margin: 50px auto;
  background-color: white;
  padding: 30px;
}


input {
  width: 100%;
  padding: 5px; 
  border: none; 
  border-bottom: 1px solid #ccc;  
  background-color: transparent;  
  margin-bottom: 15px;
  font-size: 16px; 
  outline: none;  
  padding-top: 30px;
  font-family:   'Source Sans Pro', sans-serif;
}

input::-webkit-input-placeholder { 
  color: black; 
}

input::-moz-placeholder{ 
  color: black; 
}


.container{
  text-align: center; 
}
.container h2{
  font-size: 32px;
  font-family:   'Source Sans Pro', sans-serif;
  font-weight: bold;
}
form button {
  background-color: #FF6565; 
  border: none; 
  padding: 10px 20px; 
  margin:  40px;
  border-radius: 15px; 
  color: white; 
  cursor: pointer; 
  font-weight: bold; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
  
#footer{
  display: flex;
  flex-direction: column;
  background-color: black;
  color:white;
  text-align: center;
  padding-top: 50px;

}
#footer div{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
#footer img{
  height: 50px;
}
.shareIcons i{
padding-inline: 10px;
size: 100px;
}
#footer p{
  color: #999;
  padding-bottom: 40px;
}
  